body {
    background-color: #f5d9f5;
    font-family: 'Nunito Sans', sans-serif;
}
#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}
#mainNavbar .nav-link {
    color: white;
}
#mainNavbar .navbar-brand {
    color: #ea1c2c;
}
#mainNavbar .nav-link:hover {
    color: #ea1c2c;
}